@CHARSET "UTF-8";
#mumble-widget-div { overflow-y: scroll; overflow-x: hidden; }
#mumble-widget-div ul { margin-left: 10px; }
#mumble-widget-div ul li { color: white; font-size: 10px; line-height: 16px; }
#mumble-widget-div ul li img { padding-right: 5px; float: left; }
#mumble-widget-div ul li div { height: 22px; vertical-align: middle}

.mumble-widget-channel li { font-weight: bold; }
.mumble-widget-user li { font-weight: normal; }